/* CSS Document */
/* ==========================================
 * General tags styles
 * =========================================*/
html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	font: 1em/1.5 Arial, Helvetica, sans-serif;
	color: #333;
	background-color: #fdfdfd;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

a:focus {
	outline: none; /* No outline on focus for better visual */
}

a {
	color: orange;
	text-decoration: none;

	transition: all 0.3s linear;
}

a:hover, a:focus {
	color: #3397db;
	text-shadow: 3px 2px 20px orange;
}

/* ==========================================
 * Header styles
 * =========================================*/
.header {
	z-index: 1000;
	position: fixed;
	width: 100%;
	top: 0;
}

/* Add top-padding to the main content to make space for the header */
.header + main {
	padding-top: 80px;
}

.inside header + main {
	padding-top: 128px;
}

.header_nav {
	height: 80px;
	background-color: #252831;
	text-align: center;

	display: flex; /* Display as flex to center the heading in the middle */
	justify-content: center;
	align-items: center;
}

.header_nav h1 a {
	color: #fff;
	font-size: 1em;
	font-weight: 200;
	letter-spacing: 10px;
	text-transform: uppercase;
}

/* Header breadcrumb styles */
nav[aria-label="Breadcrumb"] {
	width: 55%; /* Let space for the map container 45% */
}

.header_breadcrumb {
	padding: 10px 40px 16px;
	background-color: #eee;
	font-size: 0.9em;
	margin: 0;
}

.header_breadcrumb li {
	display: inline;
}

.header_breadcrumb li+li:before {
	padding: 8px;
	color: black;
	content: "/\00a0";
}

.header_breadcrumb li a {
	color: #0275d8;

	position: relative;
	overflow: hidden;
}

.header_breadcrumb li a:hover, .header_breadcrumb li a:focus {
	color: #01447e;
	text-shadow: none;
}

/* Add bottom border on focus */
.header_breadcrumb li a::before {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	border-bottom: 1.5px solid #01447e;
	transform: scaleX(0);
	transition: transform 0.25s linear;
}

.header_breadcrumb li a:hover::before, .header_breadcrumb li a:focus::before {
	transform: scaleX(1);
}

.header_breadcrumb [aria-current="page"] {
	color: #666;
	font-weight: 300;
}

/* ==========================================
 * Home page main styles
 * =========================================*/
.map_container {
	width: 100%;
	height: 380px;
	background-color: #ccc;
}

.map {
	width: 100%;
	height: 100%;
}

.map_container a:hover, .map_container a:focus {
	outline: dashed;
}

/* Main container styles */
.main_container {
	width: 100%;
}

/* Restaurant Filtering styles */
.filter-options {
	width: 100%;
	height: 50px;
	background-color: #3397db;
	align-items: center;
}

.filter-options h2 {
	color: white;
	font-size: 0.9em;
	font-weight: normal;
	line-height: 1;
	margin: 0 20px;
	padding-top: 5px;
}

.filter-options select {
	background-color: white;
	border: 1px solid #fff;
	font-size: 0.9em;
	height: 35px;
	letter-spacing: 0;
	margin: 15px;
	padding: 0 10px;
	width: 200px;
}

/* Add border on hover and focus */
.filter-options select:hover {
	border: 1.5px solid orange;
}

.filter-options select:focus {
	outline-color: orange;
}

/* ==========================================
 * Restaurants Listing styles
 * =========================================*/
.restaurants-list {
	background-color: #f3f3f3;
	list-style: outside none none;
	margin: 0;
	padding: 30px 20px 60px;
	text-align: left;

	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.restaurants-list li {
	background-color: #fff;
	border: 2px solid #ccc;
	border-radius: 6px;
	margin: 15px 1% 15px;
	width: 22%;
	min-height: 360px;
	padding: 10px 30px 25px;
	box-shadow: 5px 5px 20px 0 grey;

	/* Flexbox in order to place the button to the bottom of the container */
	display: flex;
	flex-flow: column nowrap;
}

.restaurants-list .restaurant-img {
	max-width: 100% !important;
	height: auto;
	vertical-align: middle;
	display: block;
	border: 0;
	border-radius: 3px;
}

.restaurants-list li h1 {
	color: #f18200;
	font-size: 1em;
	font-weight: 200;
	letter-spacing: 0;
	line-height: 1.3;
	margin: 20px 0 10px;
	text-transform: uppercase;
	position: relative;
}

/* Add a line before the heading, seperating the img with the details */
.restaurants-list li h1:after {
	content: '';
	display: block;
	position: absolute;
	top: -10px;
	width: 100%;
	border-bottom: 1.5px solid #d9d9d9;
}

.restaurants-list li p {
	margin: 0;
	font-size: 0.9em;
}

/* Apply flex-grow to the last paragraph element to place button to the bottom */
.restaurants-list li p:last-of-type {
	flex-grow: 1;
}

.restaurants-list li a {
	background-color: orange;
	border-bottom: 3px solid #eee;
	border-radius: 6px;
	color: #fff;
	display: inline-block;
	font-size: 1em;
	margin: 15px 0 0;
	padding: 8px 30px 10px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

/* Add smooth style transition on hover and focus */
.restaurants-list li a:hover, .restaurants-list li a:focus {
	background-color: #3397db;
	border-bottom: 3px solid #339799;
	box-shadow: 3px 3px 20px 1px orange;
	transition: border-bottom 0s ease-in, all 0.25s linear;
}

/* ==========================================
 * Restaurant Details styles
 * =========================================*/
.inside .maincontent {
	display: flex;
}

.inside .map_container {
	background: blue none repeat scroll 0 0;
	height: calc(100% - 80px);
	position: fixed;
	right: 0;
	top: 80px;
	width: 45%;
}

.inside .wrapper {
	width: 55%;
}

/* Restaurant container styles */
#restaurant-name {
	color: #f18200;
	font-size: 1.8em;
	font-weight: 200;
	letter-spacing: 0;
	margin: 15px 0 30px;
	text-transform: uppercase;
	line-height: 1.1;
}

#restaurant-img {
	max-width: 100% !important;
	height: auto;
	vertical-align: middle;
	display: block;
	border: 0;
	margin: auto;
}

#restaurant-cuisine {
	background-color: #333;
	color: #ddd;
	font-size: 0.9em;
	font-weight: 300;
	letter-spacing: 10px;
	margin: 0 0 20px;
	padding: 2px 0;
	text-align: center;
	text-transform: uppercase;
}

#restaurant-address {
	font-size: 0.9em;
	margin: 10px 0px;
}

#restaurant-container, #reviews-container {
	padding: 0 40px 30px;
}

/* Reviews container styles */
#reviews-container {
	padding: 30px 40px 50px;
	position: relative;
}

/* Add a top border before the reviews container */
#reviews-container:before {
	content: '';
	position: absolute;
	width: calc(100% - 80px); /* 100% - side padding of the container */
	top: 0;
	border-bottom: 1px solid #d9d9d9;
	box-shadow: 0 7px 20px 0 grey;
}

#reviews-container h2 {
	color: #f58500;
	font-size: 1.8em;
	font-weight: 300;
	letter-spacing: -1px;
	padding-bottom: 0.2em;
}

#reviews-list li {
	background-color: #fff;
	border: 2px solid #f3f3f3;
	display: block;
	list-style-type: none;
	margin: 0 0 30px;
	overflow: hidden;
	padding: 0 20px 20px;
	position: relative;
}

#reviews-list li p {
	margin: 0 0 10px;
}

/* Restaurant hours table styles */
#restaurant-hours {
	width: 100%;
	color: #666;
	line-height: 1.5;
}

#restaurant-hours caption {
	font-size: 0.9em;
	text-decoration: underline;
}

/* Add different background color on even rows for visibility */
#restaurant-hours tr:nth-child(even) {
	background: #f4f4f4;
}

/* ==========================================
 * Footer styles
 * =========================================*/
.footer {
	background-color: #444;
	color: #aaa;
	font-size: 0.75em;
	letter-spacing: 1px;
	padding: 25px;
	text-align: center;
	text-transform: uppercase;
}

/* ==========================================
 * Media screen styles
 * =========================================*/
/* Medium screen size styles */
@media screen and (max-width: 860px) {
	nav[aria-label="Breadcrumb"] {
		width: 100%;
	}

	.restaurants-list li {
		width: calc(44% - 64px);
	}

	.map_container {
		height: 300px;
	}

	.inside .maincontent {
		flex-wrap: wrap;
	}

	.inside .map_container {
		position: inherit;
		width: 100%;
		height: 220px;
	}

	.inside .wrapper {
		width: 100%;
	}
}

/* Small screen size styles */
@media screen and (max-width: 501px) {
	.map_container {
		height: 220px;
	}

	.filter-options select {
		width: 35%;
		min-width: 90px;
	}

	.restaurants-list li {
		width: 100%;
		min-height: 300px;
	}

	.inside header + main {
		padding-top: 122px;
	}

	body {
		font-size: 0.75em;
	}
}
